<div class="page-header">
  <h1> <%= t('lucky_draws.listing') %> </h1>
  <% if current_user.is_editor %>
    <div class="new-item">
      <%= link_to raw("<i class='material-icons'>add_circle</i><span>#{t('new')}</span>"), new_lucky_draw_prize_path %>
    </div>
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-fixed table-white table-hover">
    <thead>
      <th width="15%"> <%=  t('lucky_draws.name') %> </th>
      <th width="10%"> <%=  t('lucky_draws.quantity') %> </th>
      <th width="15%"> <%=  t('lucky_draws.remaining_quantity') %> </th>
      <th width="15%"> <%=  t('lucky_draws.created_at') %> </th>
      <th width="15%"> <%=  t('lucky_draws.updated_at') %> </th>
      <th width="30%"> <%= t('lucky_draws.operate')%> </th>
    </thead>
    <tbody>
      <% @lucky_draw_prizes.each do |lucky_draw_prize|%>
        <tr>
          <td width="15%"><%= lucky_draw_prize.name %> </td>
          <td width="10%"><%= lucky_draw_prize.quantity %> </td>
          <td width="15%"><%= lucky_draw_prize.remaining_quantity %> </td>
          <td width="15%"><%= lucky_draw_prize.created_at %> </td>
          <td width="15%"><%= lucky_draw_prize.updated_at %> </td>
          <td width="7.5%"><i class="material-icons small">visibility</i><%= link_to t('show'), lucky_draw_prize %></td>
          <% if current_user.is_editor  %>
            <td width="7.5%"><i class="material-icons small">create</i><%= link_to t('edit'), edit_lucky_draw_prize_path(lucky_draw_prize) %></td>
            <td width="7.5%"><i class="material-icons small">clear</i><%= link_to t('delete'), lucky_draw_prize, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
          <td width="7.5%">
            <% if lucky_draw_prize.sample_prize == true  %>
              <i class="material-icons small">visibility</i><%= link_to t('lucky_draws.code'), show_code_path(lucky_draw_prize), method: :get %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @lucky_draw_prizes %>
  </div>
</div>
<nav aria-label="Page navigation example" class="pagination-paginate">
  <%= will_paginate(@lucky_draw_prizes, :renderer => RemoteLinkPagination::LinkRenderer) %>
</nav>
