<%= render 'layouts/product_navbar' %>

<div class="page-header">
  <h1> <%= t('product_attribute_categories.page_title') %> </h1>
</div>

<div class="container">
  <div class='row'>
    <dl>
      <dt><%= t('product_attribute_categories.name') %> </dt>
      <dd><%= @product_attribute_category.name %></dd>
      <dt><%= t('product_attribute_categories.description') %> </dt>
      <dd><%= image_tag @product_attribute_category.picture.url(:thumb) %></dd>
    </dl>
  </div>
</div>

<div class="container page-control">
  <%= link_to t('back'), product_product_attribute_categories_path, class: 'back' %> |
  <% if current_user.is_editor %>
    <%= link_to raw("<i class='material-icons'>create</i><span>#{t('edit')}</span>"), edit_product_product_attribute_category_path(@product_attribute_category) %> |
    <%= link_to raw("<i class='material-icons'>add_circle</i><span>#{t('new')}</span>"), new_product_product_attribute_category_path, data: { 'no-turbolink' => true} %>
  <% end %>
</div>
