<%= form_with(model: slide, url: url, id: 'cust-form', class: 'row', local: true) do |form| %>
  <% if slide.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(slide.errors.count, "error") %> prohibited this campaign from being saved:</h2>

      <ul>
      <% slide.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-sm-8">
    <%= form.label :name, t('slides.name') %>
    <%= form.text_field :name, class:"form-control" %>
  </div>

  <div class="col-sm-2 form-check">
    <label class="form-check-label">
      <%= form.label :publish %>
      <%= form.check_box :publish, class: 'form-check-input' -%>
      <span class="form-check-sign">
          <span class="check"></span>
      </span>
    </label>
  </div>

  <div class="form-group col-sm-2 hidden-fields">
    <%= form.label :page_type, t('slides.page_type') %>
    <%= form.select :page_type, options_for_select(::Campaign.page_types.keys.to_a,:selected => 'slide'), {}, { :class => "form-control selectpicker select-page-type", :id => "exampleFormControlSelect1", :"data-style" => "btn btn-link" } %>
  </div>

  <%= render 'blocks', form: form %>

  <div class="submission">
    <div class="actions">
      <%= form.submit t('submit'), :class => 'btn btn-primary btn-round submit' %>
      <%= link_to t('back'), slides_path, :class => 'btn btn-primary btn-warning cancel' %>
    </div>
  </div>
<% end %>

<%= javascript_tag do %>
  $(document).ready(function() {
    $('.select-campaign-block-link').each((idx, el) => {
      var data = $(el).val();
      $(el.parentElement.parentElement).children('.hidden-field-products').hide();
      $(el.parentElement.parentElement).children('.template' + data).show();
    })
  })
<% end %>
