<div class="page-header">
  <h1>Statistics</h1>
</div>

<div class="container">
  <div class="row">
    <%= form_tag(statistic_path, :method => :get, :class => 'form-inline ml-auto col-8') do %>
      <div class="form-group no-border">
        <%= text_field_tag :from, params[:from], class:"form-control datepicker" , :placeholder => "From" %>
        <span></span>
        <%= text_field_tag :to, params[:to], class:"form-control datepicker" , :placeholder => "To" %>
      </div>
      <button type="submit" class="btn btn-just-icon btn-round">
        <i class="material-icons">search</i>
      </button>
    <% end %>
  </div>
</div>

<div class="container">
  <div class='row text-break'>
    <h2>Customer Register per day</h2>
    <%= area_chart @customers %>
    <h2>Order created per day</h2>
    <%= area_chart @orders %>
    <h2>Order per status</h2>
    <%= area_chart @orders_by_status %>
    <h2>Order paid on not paid</h2>
    <%= pie_chart [["Paid Orders", Order.where("status <> 0").count], ["UnPaid Orders", Order.where(status: 0).count]] %>
  </div>
</div>

<%= javascript_tag do %>
  $(document).ready(function(){
    $('.datepicker').pickadate();
  })
<% end %>
