<div class="page-header">
  <h1> <%= t('customers.page_title') %> </h1>
</div>

<div class="container">
  <div class='row'>
    <dl>
      <dt><%= t('douyin_customers.name') %> </dt>
      <dd><%= @douyin_customer.name %></dd>
      <dt><%= t('douyin_customers.gender') %> </dt>
      <dd><%= @douyin_customer.gender %></dd>
      <dt><%= t('douyin_customers.open_id') %> </dt>
      <dd><%= @douyin_customer.open_id %></dd>
      <dt><%= t('douyin_customers.union_id') %> </dt>
      <dd><%= @douyin_customer.union_id %></dd>
      <dt><%= t('douyin_customers.phone') %> </dt>
      <dd><%= @douyin_customer.phone %></dd>
      <dt><%= t('douyin_customers.email') %> </dt>
      <dd><%= @douyin_customer.email %></dd>
    </dl>
  </div>
</div>

<div class="container page-control">
  <%= link_to t('back'), douyin_customers_path, class: 'back' %> |
  <% if current_user.is_editor %>
    <%= link_to raw("<i class='material-icons'>create</i><span>#{t('edit')}</span>"), edit_douyin_customer_path(@douyin_customer) %> |
    <%= link_to raw("<i class='material-icons'>add_circle</i><span>#{t('new')}</span>"), new_douyin_customer_path, data: { 'no-turbolink' => true} %>
  <% end %>
</div>
