<h1><%= t('customer.edit') %> </h1>

<div class="container">
  <div class='row'>
    <%= render 'form', customer: @customer %>
  </div>
</div>

<div class="container page-control">
  <%= link_to t('back'), customers_path, class: 'back' %> |
  <%= link_to raw("<i class='material-icons'>visibility</i><span>#{t('show')}</span>"), @customer %> |
  <% if current_user.is_editor %>
    <%= link_to raw("<i class='material-icons'>add_circle</i><span>#{t('new')}</span>"), new_customer_path, data: { 'no-turbolink' => true} %>
  <% end %>
</div>
