<%= form_with(model: mp_link, id: 'cust-form', local: true) do |form| %>
  <% if mp_link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mp_link.errors.count, "error") %> prohibited this mp_link from being saved:</h2>

      <ul>
      <% mp_link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :param %>
    <%= form.text_field :param, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :path %>
    <%= form.text_field :path, class:"form-control" %>
  </div>

  <div class="actions">
    <%= form.submit t('submit'), :class => 'btn btn-primary' %>
  </div>
<% end %>
