<div class="page-header">
  <h1> <%= t('page_blocks.listing') %> </h1>
  <% if current_user.is_editor %>
    <div class="new-item">
      <%= link_to raw("<i class='material-icons'>add_circle</i><span>#{t('new')}</span>"), new_mp_link_path, data: { 'no-turbolink' => true} %>
    </div>
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-fixed table-white table-hover">
    <thead>
      <th width="25%"> <%=  t('mp_links.name') %> </th>
      <th width="25%"> <%=  t('mp_links.path') %> </th>
      <th width="25%"> <%=  t('mp_links.param') %> </th>
      <th width="7.6%"> <%= t('show')%> </th>
      <% if current_user.is_editor %>
        <th width="7.6%"> <%= t('edit')%> </th>
        <th width="7.6%"> <%= t('delete')%> </th>
      <% end %>
    </thead>
    <tbody>
      <% @mp_links.each do |link|%>
        <tr>
          <td width="25%"><%= link.name %> </td>
          <td width="25%"><%= link.path %></td>
          <td width="25%"><%= link.param %> </td>
          <td width="6.6%"><i class="material-icons small">visibility</i><%= link_to t('show'), link %></td>
          <% if current_user.is_editor  %>
            <td width="6.6%"><i class="material-icons small">create</i><%= link_to t('edit'), edit_mp_link_path(link) %></td>
            <td width="6.6%"><i class="material-icons small">clear</i><%= link_to t('delete'), link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @mp_links %>
  </div>
</div>
<nav aria-label="Page navigation example">
  <%= will_paginate(@mp_links, :renderer => RemoteLinkPagination::LinkRenderer) %>
</nav>
