<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseBlocks" aria-expanded="true" aria-controls="collapseExample">
    <i class="material-icons">apps</i> <%= t('page_blocks.blocks.title') %>
  </a>
</p>
<div class="collapse show" id="collapseBlocks">
  <div class="card card-body all-lots">
    <div id="blocks">
      <div id="accordion" role="tablist">
        <%= form.fields_for :blocks do |block| %>
          <div class="card card-collapse">
            <div class="card-header" role="tab" id="headingOne">
              <h5 class="mb-0">
                <a data-toggle="collapse" href="#collapse<%= block.index %>" aria-expanded="true" aria-controls="collapse<%= block.index %>">
                  Block <%= block.object.name || block.index + 1 %>
                  <i class="material-icons">keyboard_arrow_down</i>
                </a>
              </h5>
            </div>
            <div id="collapse<%= block.index %>" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <%= render 'block_fields', f: block, index: block.index %>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div class="links add-new-icone">
        <%= link_to_add_association raw("<i class='material-icons'>add_circle</i><span>#{t('pages.blocks.add')}</span>"), form, :blocks %>
      </div>
    </div>
  </div>
</div>
