<%= render 'layouts/product_navbar' %>

<div class="page-header">
  <h1>  <%= t('product_attributes.listing') %> </h1>
  <% if current_user.is_editor %>
    <div class="new-item">
      <%= link_to raw("<i class='material-icons'>add_circle</i><span>#{t('new')}</span>"), new_product_product_attribute_path %>
    </div>
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-fixed table-white table-hover">
    <thead>
      <th width="25%"> <%=  t('product_attributes.name') %> </th>
      <th width="25%"> <%=  t('product_attributes.created_at') %> </th>
      <th width="25%"> <%=  t('product_attributes.updated_at') %> </th>
      <th width="7.6%"> <%= t('show')%> </th>
      <% if current_user.is_editor %>
        <th width="7.6%"> <%= t('edit')%> </th>
        <th width="7.6%"> <%= t('delete')%> </th>
      <% end %>
    </thead>
    <tbody>
      <% @product_attributes.each do |product_attribute|%>
        <tr>
          <td width="25%"><%= product_attribute.name %> </td>
          <td width="25%"><%= product_attribute.created_at %> </td>
          <td width="25%"><%= product_attribute.updated_at %> </td>
          <td width="7.6%"><i class="material-icons small">visibility</i><%= link_to t('show'), product_attribute %></td>
          <% if current_user.is_editor  %>
            <td width="7.6%"><i class="material-icons small">create</i><%= link_to t('edit'), edit_product_product_attribute_path(product_attribute) %></td>
            <td width="7.6%"><i class="material-icons small">clear</i><%= link_to t('delete'), product_attribute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @product_attributes %>
  </div>
</div>
<nav aria-label="Page navigation example" new_product_product_attribute_path>
  <%= will_paginate(@product_attributes, :renderer => RemoteLinkPagination::LinkRenderer) %>
</nav>
