<%= form_with(model: mp_image, id: 'cust-form', local: true) do |form| %>
  <% if mp_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mp_image.errors.count, "error") %> prohibited this mp_image from being saved:</h2>

      <ul>
      <% mp_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-md-8">
    <%= form.label :name, t('mp_images.name') %>
    <%= form.text_field :name, class:"form-control" %>
  </div>

  <div class="attachment-attribute-label col-md-6">
    <div class="align-labels">
      <i class="material-icons">cloud_download</i><%= form.label :image, t('mp_images.image')  %>
    </div>
    <%= form.file_field :image %>
  </div>

  <div class="form-group col-md-6 attachment">
    <% if !form.object.image.url.include?'missing' %>
      <%= image_tag form.object.image.url %>
    <% end %>
  </div>

  <%= render 'layouts/updated_by', form: form %>

  <div class="actions">
    <%= form.submit t('submit'), :class => 'btn btn-primary' %>
  </div>
<% end %>
