<div class="page-header">
  <h1> <%= t('gift_cards.page_title') %> </h1>
</div>

<div class="container">
  <div class='row'>
    <dl>
      <dt><%= t('mp_images.name') %></dt>
      <dd><%= @mp_image.name %></dd>
      <dt><%= t('mp_images.image') %> </dt>
      <dd><%= image_tag @mp_image.image.url(:thumb) %></dd>
    </dl>
  </div>
</div>

<div class="container page-control">
  <%= link_to t('back'), @mp_images_path, class: 'back' %> |
  <% if current_user.is_editor %>
    <%= link_to raw("<i class='material-icons'>create</i><span>#{t('edit')}</span>"), edit_mp_image_path(@mp_image) %> |
    <%= link_to raw("<i class='material-icons'>add_circle</i><span>#{t('new')}</span>"), new_mp_image_path, data: { 'no-turbolink' => true} %>
  <% end %>
</div>
