<!DOCTYPE html>
<html>
  <head>
    <title>SHISEIDO EC OMS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "/libraries/ckeditor/ckeditor.js" %>
    <%= stylesheet_link_tag 'application', 'https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.3.1/css/flag-icon.min.css', media: 'all' %>

  </head>

  <body>
    <div class="wrapper">
      <%= render 'layouts/navbar' %>
      <div class="cms-content">
        <div class="container">
          <div class="row">
            <%= render 'layouts/messages' %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
